.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 20vh;
}

.backgroundImage {
  background-image: url('/images/bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  margin: 0;
  padding: 0;
}

.main {
  font-family: var(--main-font);
}

.pizzaBox {
    position: relative;
    margin:20px;
    display: flex;
    flex-direction: row;

}
@media (min-width: 701px) and (max-width: 1120px){
  .pizzaBox {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media (max-width: 700px){
  .pizzaBox {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

}
